<include file='Public/header' />
	<div class="block1 clearfix">
	<div class="ur_here blank">
		当前位置: <a href="/">首页</a> 
    <foreach name='mbx' item='m'>
    <code>&gt;</code> 
    <a href="">{$m['cat_name']}</a>
    </foreach>
	</div>  <div id="pageLeft" class="fl">
	 <h1 style="background:url(__PUBLIC__/Home/images/sdgg.gif) repeat-x; height:27px; line-height:27px; padding-left:10px;"><a href=""><font style="color:#000; font-size:14px;">所有分类</font></a></h1>
	<div class="mod1 mod2 blank" id="historybox">
	<span class="lb"></span><span class="rb"></span>
	<div class="cagegoryCon clearfix">
  <foreach name='tree' item='t1'>
  <if condition="$t1.parent_id eq 0" >
  <dl>
    <dt>{$t1.cat_name}</dt>
    <dd class="clearfix"> 
        <foreach name='tree' item='t2'>
          <if condition="$t2['parent_id'] eq $t1['cat_id']"> 
            <p class=""><a href="{:U('Home/Cat/cat',array('cat_id'=>$t2['cat_id']))}" title="{$t2.cat_name}" class="txtdot">{$t2.cat_name}</a></p> 
          </if>
        </foreach>    
    </dd>
  </dl>
  </if> 
  </foreach>
</div>
	<div class="blank"></div>
	</div> 
	<h1 class="mod2tit" style="background:url(__PUBLIC__/Home/images/sdgg.gif) repeat-x; height:27px; color:#000">浏览历史</h1>
	<div class="mod1 mod2 blank" id="topbox">
	<span class="lb"></span><span class="rb"></span>
	 <ul id="top10">
      <foreach name='his' item='his'>
		 	<li>
			 <div class="first">
			  <div class="fl">
				<font style="color:#F00; font-weight:bold"></font> <a href="{:U('Home/goods/goods',array('goods_id'=>$his['goods_id']))}" title="{$his['goods_name']}">{$his['goods_name']}</a>
				</div>
				<div class="fr"><b class="f1">￥{$his['shop_price']}元</b></div>
			 </div>
			</li>
      </foreach>
		 </ul>
</div>
	</div>
	<div id="pageRight" class="fr">  	
	<div class="goodsTitle clearfix blank"> <span class="fl">商品列表</span>
  <form method="GET" class="sort fr" name="listform">
    显示方式： 
    <a href=""><img src="__PUBLIC__/Home/images/display_mode_list.gif" alt=""></a> 
    <a href=""><img src="__PUBLIC__/Home/images/display_mode_grid_act.gif" alt=""></a> 
    <a href=""><img src="__PUBLIC__/Home/images/display_mode_text.gif" alt=""></a>&nbsp;&nbsp; 
    <a href=""><img src="__PUBLIC__/Home/images/goods_id_DESC.gif" alt="按上架时间排序"></a>
    <a href=""><img src="__PUBLIC__/Home/images/shop_price_default.gif" alt="按价格排序"></a>
    <a href=""><img src="__PUBLIC__/Home/images/last_update_default.gif" alt="按更新时间排序"></a>
    <input type="hidden" name="category" value="1">
    <input type="hidden" name="display" value="grid" id="display">
    <input type="hidden" name="brand" value="0">
    <input type="hidden" name="price_min" value="0">
    <input type="hidden" name="price_max" value="0">
    <input type="hidden" name="filter_attr" value="0">
    <input type="hidden" name="page" value="1">
    <input type="hidden" name="sort" value="goods_id">
    <input type="hidden" name="order" value="DESC">
  </form>
</div>
<div class="clearfix modContent"> 
    <form name="compareForm" action="" method="post">
        <div class="clearfix grid"> 
    <foreach name='cat_goods' item='cats'>
            <div class="goodsbox1" style="margin: 5px 9px 8px 8px;*margin:5px 6px 10px 14px;">
        <div class="imgbox1"><a href="{:U('/Home/goods/goods',array('goods_id'=>$cats['goods_id']))}"><img src="{$cats['thumb_img']}" alt="{$cats.goods_name}"></a></div>
        <a href="{:U('/Home/goods/goods',array('goods_id'=>$cats['goods_id']))}" title="{$cats.goods_name}">{$cats.goods_name}</a><br>
        <font class="market">￥{$cats.market_price}元</font> 
        <b class="f1">￥{$cats.shop_price}元</b><br>
      </div>
    </foreach>
    </div>
      </form>
</div>

<div class="pagebar">
<form name="selectPageForm" action="http://free.68ecshop.com/hechaw2013/category.php" method="get">
 <div id="pager">
  总计 <b>15</b>  个记录                      <span class="page_now">1</span>
                      <a href="">2</a>
            
  <a class="next" href="">下一页</a>    </div>
</form>
</div>
	</div>
</div>
<include file='Public/footer' />